<style>
   form {
            padding: 0.9rem;
            margin: 0.7rem;
        }
</style>

<h1 class="text-dark font-weight-bold">Ingrese sus productos en el siguiente formulario</h1>

<form action="/" method="POST" class="bg-dark">
    <article class="form-group">
        <label for="nombre" class="myLabel text-info">Nombre</label>
        <input id="nombre" class="form-control" type="text" name="title" required>
    </article>

    <article class="form-group">
        <label for="precio" class="myLabel text-info">Precio</label>
        <input id="precio" class="form-control" type="number" step="0.01" name="price" required>
    </article>

    <article class="form-group">
        <label for="foto" class="myLabel text-info">URL Imágen</label>
        <input id="foto" class="form-control" type="url" name="thumbnail" required>
    </article>

    <button class="btn btn-success mt-3">Crear Producto</button>
</form>
<br>